.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.displayNone {
    display: none;
}

.btn-add {
    width: 20%;
}

.todoForm {
    margin-bottom: 90px;
}